{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}



  {% if articles %}
      <table class="table table-stripted">

          <thead>
              <tr>
                  <td> Article Title </td>
                  <td> Actions</td>
              </tr>

          </thead>
          <tbody>
          {% for article in articles %}
             <tr>
                 <td>{{ article.title }}</td>
                 <td>
                     <a href="/article/1" class="btn-btn-dark">Visualiser</a>
                 </td>
             </tr>
          {% endfor %}
          </tbody>
      </table>
  {% else  %}
     <p>Pas articles sur le Blog</p>
  {% endif %}
{% endblock %}
